{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a>
      {% else %}
        <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ title }}</a>
      {% endif %}
    </h3>
    {% if entry.image.thumbnail %}
      {% assign entry_image = entry.image.thumbnail %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}
  </header>
    <div class="entry-excerpt p-summary">
      {% if entry.description %}
        {{ entry.description | markdownify }}
      {% endif %}
        <div class="more-link">
          <a href="{{ entry.url | relative_url }}">Show Slides...</a>
        </div>
    </div>
  {% if entry.authors %}
  <footer class="entry-meta">
<div class="talk-authors">
{% for author in entry.authors %}
{% if forloop.first != true and forloop.last != true -%}
, {% elsif forloop.first != true %} and {% endif %}
{{ site.data.authors[author].name }}
{%- if site.data.authors[author].team %} (<a href="{{ '/teams.html' | relative_url }}#{{ site.data.authors[author].team | slugify | downcase }}">{{ site.data.authors[author].team }}</a>)
{%- endif %}
{% endfor %}
</div>
  </footer>
  {% endif %}
</article>
